.p1 {background-color: #ff6600;
     height: 30vh;
      width: 100%;}
.p3{background-color: #4c4c4c; 
    height:30vh; 
    width :100%;}

.p2{
    height: 30vh;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
}